.titleStyle {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1542640244-7e672d6cef4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80');
    height: 37px;
}

.imageStyle {
    border-radius: 50px, 0px;
}
