* {
    margin: 0;
    padding: 0;
}

.img-container {
    border: solid black;
    height: 300px;
}

.title{
    color: rgb(169, 214, 229);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 22px;
}
.img {
    height: 285px;
    border-radius: 10%;
    float: left;
    padding: 15px;
    background-color: burlywood;
}

.body {    
    background-color: rgb(1, 42, 74);
    text-align: center;
    padding: 3%;
}

.para {
    color: rgb(169, 214, 229);
    text-align: justify;
    width: 30%;
    padding-left: 250px;
    padding-top: 160px;
    position: relative;
}

.list{
    text-align: center;
    color: rgb(162, 61, 67);
}
.button{
    text-align: center;
    text-decoration: none;
    line-height: 15px;
    background:rgb(162, 61, 67);
    margin: 30px;
    padding: 10px;
    border-radius: 4px;
    display: block;
    width: 250px;
    color: rgb(169, 214, 229);
    font-weight: 300;
}
 ul li:nth-child(odd) {
     background-color: burlywood;
 }